<div class="bg-white rounded-lg shadow-md">
    <div class="p-6 border-b border-gray-200 flex justify-between items-center">
        <h2 class="text-2xl font-semibold text-gray-700">Gestión de Reservas</h2>
        <button pButton type="button" label="Nueva Reserva" icon="pi pi-plus" [routerLink]="['/bookings/new']"></button>
    </div>
    <div class="p-6">
        <p-table [value]="bookingsForTable" stripedRows>
            <ng-template pTemplate="header">
                <tr>
                    <th class="p-4 text-left">Huésped</th>
                    <th class="p-4 text-left">Habitación</th>
                    <th class="p-4 text-left">Check-in</th>
                    <th class="p-4 text-left">Check-out</th>
                    <th class="p-4 text-left">Precio Total</th>
                    <th class="p-4 text-left">Estado</th>
                    <th class="p-4 text-left">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-booking>
                <tr class="hover:bg-gray-50">

                    <td class="p-4">{{booking.guestName}}</td>
                    <td class="p-4">{{booking.roomNumber}}</td>
                    <td class="p-4">{{booking.checkInDate | date:'dd/MM/yyyy'}}</td>
                    <td class="p-4">{{booking.checkOutDate | date:'dd/MM/yyyy'}}</td>
                    <td class="p-4">{{booking.totalPrice | currency:'COP':'symbol-narrow':'1.0-0'}}</td>
                    <td class="p-4">
                        <p-tag [value]="booking.status"
                            [severity]="booking.status === 'Confirmada' ? 'success' : 'danger'"></p-tag>
                    </td>
                    <td class="p-4">
                        <div class="flex gap-2">
                            <button pButton icon="pi pi-pencil" class="p-button-text p-button-rounded" title="Editar"
                                [routerLink]="['/bookings/edit', booking.id]"></button>
                            @if (booking.status !== 'Cancelada') {
                            <button pButton icon="pi pi-times" class="p-button-text p-button-rounded p-button-danger"
                                title="Cancelar Reserva" (click)="confirmCancel(booking)"></button>
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>