.container {
  padding: 2rem;
}

.p-d-flex {
  display: flex;
}

.p-jc-between {
  justify-content: space-between;
}

.p-ai-center {
  align-items: center;
}

.p-p-3 {
  padding: 1.5rem;
}

.p-m-0 {
  margin: 0;
}

.p-mr-2 {
  margin-right: 0.5rem;
}
